# Compiled binaries
raylib-app
*.o
*.out

# Build system
Makefile

# macOS specific files
.DS_Store

# Editor specific settings
# If your friend is on Windows/Linux, the paths in .vscode/c_cpp_properties.json 
# will differ from yours, so it's best to ignore this folder.
.vscode/

# Build artifacts
build/
bin/
obj/
